<!doctype html>
<html lang="en">
  <head>
    <title>Stock Data</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />
    <script src="{{ url_for('static',filename='main.js') }}"></script>
  </head>

  <body>
    <div class="title-box">
      <h1>Title</h1>

      <div class="search-container">
        <input
          type="text"
          class="search-bar"
          id="search_ticker"
          placeholder="Search for a ticker, ex. AAPL"
          autofocus
        />
      </div>
      <div class="title-box title-box-right"></div>
    </div>

    <ul id="tab_navigation" class="tab-navigation">
      <li class="tab-link" data-tab="key_statistics">Key Statistics</li>
      <li class="tab-link" data-tab="balance_sheet">Balance Sheet</li>
      <li class="tab-link" data-tab="earnings">Earnings</li>
      <li class="tab-link" data-tab="cash_flow">Cash Flow</li>
      <li class="tab-link" data-tab="insider_trading">Insider Trading</li>
    </ul>

    <div class="tab-container">
      <div id="not_found" class="tab-content">
        <p>This ticker could not be found</p>
      </div>

      <div id="key_statistics" class="tab-content">
        <h2>Key Statistics</h2>
        <p>This is the content for Key Statistics tab.</p>

        <table class="table vertical">
          <tr>
            <th id="Price" class="tooltip-trigger">
              Price
              <span class="tooltip-info">Price Per Share</span>
            </th>
            <td></td>
          </tr>
          <tr>
            <th id="Market Cap" class="tooltip-trigger">
              Market Cap
              <span class="tooltip-info">
                <a
                  href="https://www.investopedia.com/terms/m/marketcapitalization.asp"
                  target="_blank"
                >
                  Total value of the outstanding shares
                </a>
              </span>
            </th>
            <td></td>
          </tr>
          <tr>
            <th id="EV/EBITDA" class="tooltip-trigger">
              EV/EBITDA
              <span class="tooltip-info">
                <a
                  href="https://www.investopedia.com/terms/e/ev-ebitda.asp"
                  target="_blank"
                >
                  Enterprise Value / EBITDA
                </a>
              </span>
            </th>
            <td></td>
          </tr>
          <tr>
            <th id="Profit Margins" class="tooltip-trigger">
              Profit Margins
              <span class="tooltip-info">
                <a
                  href="https://www.investopedia.com/terms/p/profitmargin.asp"
                  target="_blank"
                >
                  Percentage of revenue kept as profit
                </a>
              </span>
            </th>
            <td></td>
          </tr>
          <tr>
            <th id="P/B" class="tooltip-trigger">
              P/B
              <span class="tooltip-info">
                <a
                  href="https://www.investopedia.com/terms/p/price-to-bookratio.asp"
                  target="_blank"
                >
                  Market Cap / Book Value
                </a>
              </span>
            </th>
            <td></td>
          </tr>
          <tr>
            <th id="P/S" class="tooltip-trigger">
              P/S
              <span class="tooltip-info">
                <a
                  href="https://www.investopedia.com/terms/p/price-to-salesratio.asp"
                  target="_blank"
                >
                  Market Cap / Total Sales
                </a>
              </span>
            </th>
            <td></td>
          </tr>
          <tr>
            <th id="EPS" class="tooltip-trigger">
              EPS
              <span class="tooltip-info">
                <a
                  href="https://www.investopedia.com/terms/e/eps.asp"
                  target="_blank"
                >
                  Net profit / shares outstanding
                </a>
              </span>
            </th>
            <td></td>
          </tr>
          <tr>
            <th id="Dividend Yield" class="tooltip-trigger">
              Dividend Yield
              <span class="tooltip-info">
                <a
                  href="https://www.investopedia.com/terms/d/dividendyield.asp"
                  target="_blank"
                >
                  % Return from the company's dividend
                </a>
              </span>
            </th>
            <td></td>
          </tr>
          <tr>
            <th id="Payout Ratio" class="tooltip-trigger">
              Payout Ratio
              <span class="tooltip-info">
                <!-- TODO -->
              </span>
            </th>
            <td></td>
          </tr>
          <tr>
            <th id="Free Cash Flow" class="tooltip-trigger">
              Free Cash Flow
              <span class="tooltip-info">
                <a
                  href="https://www.investopedia.com/terms/f/freecashflow.asp"
                  target="_blank"
                >
                  Incoming cash - outgoing cash
                </a>
              </span>
            </th>
            <td></td>
          </tr>
          <tr>
            <th id="ROIC" class="tooltip-trigger">
              ROIC
              <span class="tooltip-info">
                <a
                  href="https://www.investopedia.com/terms/r/returnoninvestmentcapital.asp"
                  target="_blank"
                >
                  Return on Invested Capital
                </a>
              </span>
            </th>
            <td></td>
          </tr>
        </table>
      </div>

      <div id="balance_sheet" class="tab-content">
        <h2>Balance Sheet</h2>
        <ul id="balance_sheet_quarterly_or_yearly" class="tab-navigation">
          <li class="tab-link" data-tab="quarterly">Quarterly</li>
          <li class="tab-link" data-tab="yearly">Yearly</li>
        </ul>
        <h3>Assets</h3>
        <h4>Current Assets</h4>
        <table id ="current_assets">
          <tr>
            <th>Date</th>
          </tr>
          <tr>
            <th>Cash and Cash Equivalents</th>
          </tr>
          <tr>
            <th>Short Term Investments</th>
          </tr>
          <tr>
            <th>Receivables</th>
          </tr>
          <tr>
            <th>Inventories</th>
          </tr>
          <tr>
            <th>Current Assets - Other</th>
          </tr>
          <tr>
            <th>Total Current Assets</th>
          </tr>
        </table>
        <h4>Non-Current Assets</h4>
        <h3>Liabilities</h3>
        <table></table>
        <h3>Shareholder Equity</h3>
        <table></table>
      </div>

      <div id="earnings" class="tab-content">
        <h2>Earnings</h2>
        <p>This is the content for Tab 3.</p>
      </div>

      <div id="cash_flow" class="tab-content">
        <h2>Cash Flow</h2>
        <p>This is the content for Tab 4.</p>
      </div>

      <div id="insider_trading" class="tab-content">
        <h2>Insider Trading</h2>
        <p>This is the content for Tab 5.</p>
      </div>
    </div>
  </body>
</html>
