<!doctype html>
<html lang="en">
  <head>
    <title>Stock Data</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />
    <script src="{{ url_for('static',filename='main.js') }}"></script>
  </head>

  <body>
    <div class="title-box">
      <h2>Title</h2>

      <input
        type="text"
        class="search-bar"
        id="search_ticker"
        placeholder="Search for a ticker, ex. AAPL"
        autofocus
      />
    </div>

    <ul id="tab-navigation" class="tab-navigation">
      <li class="tab-link" data-tab="key_statistics">Key Statistics</li>
      <li class="tab-link" data-tab="balance_sheet">Balance Sheet</li>
      <li class="tab-link" data-tab="earnings">Earnings</li>
      <li class="tab-link" data-tab="cash_flow">Cash Flow</li>
      <li class="tab-link" data-tab="insider_trading">Insider Trading</li>
    </ul>

    <div id="not_found" class="tab-content">
      <p>This ticker could not be found</p>
    </div>

    <div id="key_statistics" class="tab-content">
      <h2>Key Statistics</h2>
      <p>This is the content for Key Statistics tab.</p>

      <table class="table vertical">
        <tr>
          <th class="tooltip-trigger">Price
            <span class="tooltip-info"> info here</span>
          </th>
          <td></td>
        </tr>
        <tr>
          <th>Market Cap</th>
          <td></td>
        </tr>
        <tr>
          <th>EV/EBITDA</th>
          <td></td>
        </tr>
        <tr>
          <th>Profit Margins</th>
          <td></td>
        </tr>
        <tr>
          <th>P/B</th>
          <td></td>
        </tr>
        <tr>
          <th>P/S</th>
          <td></td>
        </tr>
        <tr>
          <th>EPS</th>
          <td></td>
        </tr>
        <tr>
          <th>Return on Assets</th>
          <td></td>
        </tr>
        <tr>
          <th>Return on Equity</th>
          <td></td>
        </tr>
        <tr>
          <th>Dividend Yield</th>
          <td></td>
        </tr>
        <tr>
          <th>Free Cash Flow</th>
          <td></td>
        </tr>
      </table>
    </div>

    <div id="balance_sheet" class="tab-content">
      <h2>Balance Sheet</h2>
      <p>This is the content for Tab 2.</p>
    </div>

    <div id="earnings" class="tab-content">
      <h2>Earnings</h2>
      <p>This is the content for Tab 3.</p>
    </div>

    <div id="cash_flow" class="tab-content">
      <h2>Cash Flow</h2>
      <p>This is the content for Tab 4.</p>
    </div>

    <div id="insider_trading" class="tab-content">
      <h2>Insider Trading</h2>
      <p>This is the content for Tab 5.</p>
    </div>
  </body>
</html>
