<!doctype html>
<html lang="en">
  <head>
    <title>omniscience</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />
    <script src="{{ url_for('static',filename='main.js') }}"></script>
  </head>

  <body>
    <div class="header full-width">
      <div class="title-box flex center-content full-width">
        <h2 class="flex-1">omniscience</h2>
        <div class="search-container flex center-content center-items">
          <i class="fa fa-search search-icon"></i>
          <input
            type="text"
            class="search-bar flex center-content full-width"
            id="search_bar"
            placeholder="Search for a ticker, ex. AAPL"
            autofocus
          />
        </div>
        <div class="flex-1"></div>
      </div>
    </div>

    <ul id="main_tab_bar" class="tab-navigation flex center-content">
      <li class="tab-link active" data-tab="key_statistics">Key Statistics</li>
      <li class="tab-link" data-tab="balance_sheet">Balance Sheet</li>
      <li class="tab-link" data-tab="income_statement">Income Statement</li>
      <li class="tab-link" data-tab="cash_flow">Cash Flow</li>
    </ul>

    <div class="tab-container flex center-content">
      <div id="not_found" class="tab-content">
        <p>This ticker could not be found</p>
      </div>

      <div id="key_statistics" class="tab-content">
        <h2>Key Statistics</h2>
        <table class="table vertical">
          <tr>
            <th id="price" class="tooltip-trigger">
              Price
              <span class="tooltip-info">Price Per Share</span>
            </th>
          </tr>
          <tr>
            <th id="marketCap" class="tooltip-trigger">
              Market Cap
              <span class="tooltip-info">
                <a
                  href="https://www.investopedia.com/terms/m/marketcapitalization.asp"
                  target="_blank"
                >
                  Total value of the outstanding shares
                </a>
              </span>
            </th>
          </tr>
          <!-- <tr>
            <th id="Free Cash Flow" class="tooltip-trigger">
              Free Cash Flow
              <span class="tooltip-info">
                <a
                  href="https://www.investopedia.com/terms/f/freecashflow.asp"
                  target="_blank"
                >
                  Incoming cash - outgoing cash
                </a>
              </span>
            </th>
          </tr> -->
        </table>
        <h3>TTM Metrics</h3>
        <table>
          <tr>
            <th id="enterpriseValueOverEBITDATTM" class="tooltip-trigger">
              EV/EBITDA
              <span class="tooltip-info">
                <a
                  href="https://www.investopedia.com/terms/e/ev-ebitda.asp"
                  target="_blank"
                >
                  Enterprise Value / EBITDA
                </a>
              </span>
            </th>
          </tr>
          <tr>
            <th id="earningsYieldTTM" class="tooltip-trigger">
              Earnings Yield
              <span class="tooltip-info">
                <a
                  href="https://www.investopedia.com/terms/e/earningsyield.asp"
                  target="_blank"
                >
                  Earnings per share / price per share
                </a>
              </span>
            </th>
          </tr>
          <tr>
            <th id="netProfitMarginTTM" class="tooltip-trigger">
              Net Profit Margin
              <span class="tooltip-info">
                <a
                  href="https://www.investopedia.com/terms/n/net_margin.asp"
                  target="_blank"
                >
                  Percentage of revenue kept as profit
                </a>
              </span>
            </th>
          </tr>
          <tr>
            <th id="grossProfitMarginTTM" class="tooltip-trigger">
              Gross Profit Margin
              <span class="tooltip-info">
                <a
                  href="https://www.investopedia.com/terms/g/gross_profit_margin.asp"
                  target="_blank"
                >
                  Percentage of revenue kept as profit
                </a>
              </span>
            </th>
          </tr>
          <tr>
            <th id="pbRatioTTM" class="tooltip-trigger">
              P/B
              <span class="tooltip-info">
                <a
                  href="https://www.investopedia.com/terms/p/price-to-bookratio.asp"
                  target="_blank"
                >
                  Market Cap / Book Value
                </a>
              </span>
            </th>
          </tr>
          <tr>
            <th id="priceToSalesRatioTTM" class="tooltip-trigger">
              P/S
              <span class="tooltip-info">
                <a
                  href="https://www.investopedia.com/terms/p/price-to-salesratio.asp"
                  target="_blank"
                >
                  Market Cap / Total Sales
                </a>
              </span>
            </th>
          </tr>
          <tr>
            <th id="roicTTM" class="tooltip-trigger">
              ROIC
              <span class="tooltip-info">
                <a
                  href="https://www.investopedia.com/terms/r/returnoninvestmentcapital.asp"
                  target="_blank"
                >
                  Return on Invested Capital
                </a>
              </span>
            </th>
          </tr>
        </table>
        <h3>Dividends</h3>
        <table>
          <tr>
            <th id="dividendYieldTTM" class="tooltip-trigger">
              Dividend Yield
              <span class="tooltip-info">
                <a
                  href="https://www.investopedia.com/terms/d/dividendyield.asp"
                  target="_blank"
                >
                  % Return from the company's dividend
                </a>
              </span>
            </th>
          </tr>
          <tr>
            <th id="payoutRatioTTM" class="tooltip-trigger">
              Payout Ratio
              <!-- <span class="tooltip-info"> -->
              <!-- TODO -->
              <!-- </span> -->
            </th>
          </tr>
        </table>
      </div>

      <div id="balance_sheet" class="tab-content">
        <h2>Balance Sheet</h2>
        <div class="flex center-items full-width">
          <ul id="period_tab_bar" class="tab-navigation flex center-content">
            <li class="tab-link" data-tab="yearly">Yearly</li>
            <li class="tab-link" data-tab="quarterly">Quarterly</li>
          </ul>
          <div class="right" id="number_base"></div>
        </div>
        <h3>Current Assets</h4>
        <table>
          <tr>
            <th id="filingDate">Date</th>
          </tr>
          <tr>
            <th id="cashAndCashEquivalents">Cash and Cash Equivalents</th>
          </tr>
          <tr>
            <th id="shortTermInvestments">Short Term Investments</th>
          </tr>
          <tr>
            <th id="netReceivables">Receivables</th>
          </tr>
          <tr>
            <th id="inventory">Inventories</th>
          </tr>
          <tr>
            <th id="otherCurrentAssets">Current Assets - Other</th>
          </tr>
          <tr>
            <th id="totalCurrentAssets">Total Current Assets</th>
          </tr>
        </table>
        <h3>Non-Current Assets</h4>
        <table>
          <tr>
            <th id="propertyPlantEquipmentNet">Property Plant & Equipment</th>
          </tr>
          <tr>
            <th id="intangibleAssets">Intangible Assets</th>
          </tr>
          <tr>
            <th id="otherNonCurrentLiabilities">Non-Current Assets (other)</th>
          </tr>
          <tr>
            <th id="totalNonCurrentLiabilities">Non-Current Assets Total</th>
          </tr>
        </table>
        <h3>Liabilities</h3>
        <table>
          <!-- <tr>
            <th>Date</th>
          </tr> -->
          <tr>
            <th id="longTermDebt">Long-Term Debt</th>
          </tr>
          <tr>
            <th id="accountPayables">Accounts Payable</th>
          </tr>
          <tr>
            <th id="totalLiabilities">Liabilities Total</th>
          </tr>
        </table>
        <!-- TODO Shares outstanding -->
      </div>

      <div id="income_statement" class="tab-content">
        <h2>Income Statement</h2>
        <div class="flex center-items full-width">
          <ul id="period_tab_bar" class="tab-navigation flex center-content">
            <li class="tab-link" data-tab="yearly">Yearly</li>
            <li class="tab-link" data-tab="quarterly">Quarterly</li>
          </ul>
          <div class="right" id="number_base"></div>
        </div>
        <div class="flex full-width">
          <span class="right" id="number_base"></span>
        </div>
        <table>
          <tr>
            <th id="filingDate">Date</th>
          </tr>
          <tr>
            <th id="revenue">Revenue</th>
          </tr>
          <tr>
            <th id="costOfRevenue">Cost of Revenue</th>
          </tr>
          <tr>
            <th id="grossProfit">Gross Profit</th>
          </tr>
          <tr>
            <th id="grossProfitRatio">Gross Profit Margin</th>
          </tr>
          <tr>
            <th id="operatingExpenses">Operating Expenses</th>
          </tr>
          <tr>
            <th id="ebitda">EBITDA</th>
          </tr>
          <tr>
            <th id="netIncome">Net Income</th>
          </tr>
        </table>
        <h3>Earnings Per Share</h3>
        <!-- TODO align this table's columns with the above table's columns -->
        <table>
          <tr>
            <th id="eps">Earnings per Share</th>
          </tr>
          <tr>
            <th id="epsdiluted">Earnings Per Share (diluted)</th>
          </tr>
        </table>
      </div>

      <div id="cash_flow" class="tab-content">
        <h2>Cash Flow</h2>
        <div class="flex center-items full-width">
          <ul id="period_tab_bar" class="tab-navigation flex center-content">
            <li class="tab-link" data-tab="yearly">Yearly</li>
            <li class="tab-link" data-tab="quarterly">Quarterly</li>
          </ul>
          <div class="right" id="number_base"></div>
        </div>
        <div class="flex full-width">
          <span class="right" id="number_base"></span>
        </div>
        <table>
          <tr>
            <th id="filingDate">Date</th>
          </tr>
          <tr>
            <th id="netIncome">Net Income</th>
          </tr>
          <tr>
            <th id="operatingCashFlow">Cash Flow From Operations</th>
          </tr>
          <tr>
            <th id="netCashUsedForInvestingActivites">
              Cash Flow from Investing
            </th>
          </tr>
          <tr>
            <th id="freeCashFlow">Free Cash Flow</th>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
