:root {
  --light-gray: #f9f9f9;
  --medium-gray: #eaeaea;
  --dark-gray: #dbdbdb;
  --light-blue: #2185d0;
  --dark-blue: #002ead;
  --dark-navy: #002060;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.title-box {
  background-color: var(--light-blue);
  display: flex;
  color: white;
  align-items: center;
  padding-left: 30px;
}

.title-box h1 {
  flex: 1;
}

.title-box-right {
  flex: 1;
}

.search-container {
  width: 50%;
  text-align: center;
}

.search-bar {
  width: 90%;
  padding: 10px;
  margin-left: 10px;
  background-color: white;
  outline: 5px solid var(--light-blue);
  outline-radius: 5px;
  border: 2px solid var(--dark-gray);
  border-radius: 5px;
}

.search-bar:focus {
  outline: 5px solid var(--dark-blue);
}

.tab-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-content {
  display: none;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.tab-content.active {
  display: flex;
}

.tab-navigation {
  display: flex;
  list-style-type: none;
  margin: 0;
  background-color: white;
  padding: 5px;
  border: 2px solid var(--dark-gray);
  justify-content: center;
  align-items: center;
}

.tab-link {
  display: inline;
  margin-right: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.tab-link.active {
  background-color: var(--dark-gray);
}

.tab-link:not(.active):hover {
  background-color: var(--medium-gray);
}

table {
  border-collapse: collapse;
}

th {
  padding: 0.5rem;
  background: var(--dark-navy);
  border: 1px solid var(--dark-gray);
  color: white;
  font-weight: normal;
}

td {
  border: 1px solid var(--dark-gray);
  background: var(--light-gray);
  padding: 0.5rem;
}

.table.vertical th {
  text-align: right;
}

.table.vertical td {
  text-align: left;
}

.tooltip-trigger {
  position: relative;
}

.tooltip-info {
  position: absolute;
  left: 0;
  font-weight: normal;
  transform-origin: left;
  display: none;
  background: var(--light-gray);
  border: 1px solid var(--dark-gray);
  z-index: 1;
  min-width: 100%;
  padding: 5px;
  color: black;
  border-radius: 5px;
}

.tooltip-trigger:hover span {
  display: block;
}
