/* html { */
/*     font-family: "Open Sans", sans-serif; */
/* } */
.title-box {
  width: 100%;
  height: 4vh;
  background-color: #f2f2f2;
  display: flex;
  padding-left: 4%;
  align-items: center;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-navigation {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab-link {
  display: inline;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: underline;
}

.search-bar {
  width: 800px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  background-color: #eeeeee;
}

table {
  border-collapse: collapse;
}

th {
    padding: 0.5rem;
  background: #ffcc99;
  border: 1px solid black;
}

td {
  border: 1px solid black;
  padding: 0.5rem;
}

.table.vertical th {
  text-align: right;
}

/* Apply styles to the table body */
.table.vertical td {
  text-align: left;
}

.tooltip-trigger {
  color: #0000ff;
  position: relative;
}

.tooltip-info {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(70%) scale(0);
  transition: transform 0.1s ease-in;
  transform-origin: left;
  display: inline;
  background: white;
  z-index: 20;
  min-width: 100%;
  padding: 1rem;
  border: 1px solid black;
  color: black;
}

.tooltip-trigger:hover span {
  transform: translateY(70%) scale(1);
}
