:root {
  --light-gray: #f9f9f9;
  --dark-blue: #002ead;
  --dark-navy: #002060;
}

body {
  margin: 0;
  padding: 0;
}

.title-box {
  width: 100%;
  height: 4vh;
  background-color: var(--dark-blue);
  display: flex;
  padding-left: 4%;
  align-items: center;
  color: white;
  vertical-align: top;
  margin: 0;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-navigation {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
}

.tab-link {
  display: inline;
  margin-right: 10px;
  cursor: pointer;
  padding-top: 10px;
}

.search-bar {
  width: 800px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  background-color: var(--light-gray);
}

table {
  border-collapse: collapse;
}

th {
  padding: 0.5rem;
  background: var(--dark-navy);
  border: 1px solid #ccc;
  color: white;
  font-weight: normal;
}

td {
  border: 1px solid #ccc;
  background: var(--light-gray);
  padding: 0.5rem;
}

.table.vertical th {
  text-align: right;
}

.table.vertical td {
  text-align: left;
}

.tooltip-trigger {
  /* color: #0000ff; */
  position: relative;
}

.tooltip-info {
  position: absolute;
  left: 0;
  font-weight: normal;
  transform-origin: left;
  display: none;
  background: var(--light-gray);
  border: 1px solid #ccc;
  z-index: 1;
  min-width: 100%;
  padding: 5px;
  color: black;
  border-radius: 5px;
}

.tooltip-trigger:hover span {
  display: block;
}
